body{
    background-image: url('https://cdn.filestackcontent.com/output=format:jpg/oQ5rDlroQTyASFsp28p2')
}

.topContainer{
    border: solid purple;
    height: 100px;
}

.bottomContainer{
    border: solid pink;
    display: flex;
    height: 500px;
}

.navContainer{
    border: solid orange;
    width: 100px;
}

.mainContainer{
    border: solid blue;
    width: 500px;
}

.blackTextBox{
    margin: 10px;
    background-color: black;
    width: fit-content;
    height: 12px;
}

.yellowTextBox{
    margin: 10px;
    background-color: yellow;
    width: fit-content;
    height: 40px;
    border: solid pink;
}

.textInBlackBox{
    color: white;
    font-size: 12px;
}

.textInYellowBox{
    font-size: 40px;  
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    border: solid red;
}

.titleSection{
    display: flex;
}