body{
    background-image: url('https://cdn.filestackcontent.com/output=format:jpg/oQ5rDlroQTyASFsp28p2');
    background-attachment: fixed;
    margin: 0px;
    font-family: Arial;
}

.topPart{
    width: 900px;
    height: 100px;
    display: flex;
}

.grayBackground{
    background-color: lightgray;
    width: 350px;
    height: 1000px;
    position: relative;
    left: 350px;
    z-index: 1;
}

.addressBox{
    position: relative;
    right: 4px;
    margin-top: 15px;
    z-index: 2;
}

.addressLine{
    background-color: black;
    color: white;
    font-family: Arial;
    font-size: 12px;
    width: fit-content;
    height: 12px;
    margin-bottom: 7px;
}

.bottomPart{
    display: flex;
    width: 900px;
    margin-top: 2px;
}

.bottomLeftPart{
    width: 150px;
    margin-left: 15px;
}

.navBox{
    background-color: white;
    padding: 10px;
    font-size: 13px;
    margin-bottom: 15px;
}

.navItem{
    padding: 2px;
}

.blahBox{
    background-color: orangered;
    font-size: 11px;
    padding: 10px;
    padding-bottom: 20px;
    line-height: 13.8px;
    margin-bottom: 13px;
}

.buttonBox{
    background-color: white;
    padding: 10px;
    font-size: 13px;
}

.button{
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.bottomRightPart{
    width: 750px;
    margin-left: 15px;
}

.titleSection{
    display: flex;
    position: relative;
    z-index: 2;
}

.titleItem{
    background-color: yellow;
    width: fit-content;
    height: 36px;
    margin-right: 13px;
}

.textInTitleItem{
    font-size: 50px;
    font-weight: bold;
    position: relative;
    bottom: 10px;
}

.introSection{
    display: flex;
    margin-top: 38px;
    position: relative;
    z-index: 2;
}

.introBox{
    background: linear-gradient(to right, white, yellow);
    height: 198px;
    width: 325px;
    padding: 10px;
    font-size: 13px;
    line-height: 18px;
}

.linkBox{
    background: linear-gradient(to right, white, yellow);
    height: 33px;
    line-height: 33px;
    width: 320px;
    border: 2px solid black;
    margin-left: 3px;
    padding: 10px;
    font-size: 13px;
}

.congratsBox{
    background: linear-gradient(to right, white, limegreen);
    width: 672px;
    height: 157px;
    position: relative;
    z-index: 2;
    margin-top: 24px;
    padding: 10px;
}

.congratsHeading{
    font-size: 24px;
    font-weight: bold;
}

.congratsText{
    font-size: 18px;
    line-height: 24px;
}
