body{
    background-image: url('https://cdn.filestackcontent.com/output=format:jpg/oQ5rDlroQTyASFsp28p2');
    margin: 0px;
    font-family: Arial;
}

.topPart{
    width: 900px;
    height: 100px;
    display: flex;
}

.grayBackground{
    background-color: lightgray;
    width: 350px;
    height: 1000px;
    position: relative;
    left: 350px;
}

.addressBox{
    position: relative;
    right: 4px;
    margin-top: 15px;
    z-index: 2;
}

.addressLine{
    background-color: black;
    color: white;
    font-family: Arial;
    font-size: 12px;
    width: fit-content;
    height: 12px;
    margin-bottom: 7px;
}

.bottomPart{
    border: solid pink;
    display: flex;
    width: 900px;
}

.bottomLeftPart{
    border: solid orange;
    width: 150px;
}

.navBox{
    /* border: solid yellow; */
    background-color: white;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 11px;
}

.navItem{
    font-weight: bold;
    padding: 2px;
}

.blahBox{
    background-color: orangered;
    font-size: 11px;
    padding: 10px;
    line-height: 13px;
    margin-bottom: 11px;
}

.buttonBox{
    background-color: white;
    padding: 10px;
}

.button{
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.bottomRightPart{
    border: solid blue;
    width: 750px;
}

.blackTextBox{
    margin: 10px;
    background-color: black;
    width: fit-content;
    height: 12px;
}

.yellowTextBox{
    margin: 10px;
    background-color: yellow;
    width: fit-content;
    height: 40px;
    border: solid pink;
}

.textInBlackBox{
    color: white;
    font-size: 12px;
}

.textInYellowBox{
    font-size: 40px;  
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    border: solid red;
}

.titleSection{
    display: flex;
}